In [15]:
load( "./data/chapek9.Rdata" )
str(chapek9)

'data.frame':	180 obs. of  2 variables:
 $ species: Factor w/ 2 levels "robot","human": 1 2 2 2 1 2 2 1 2 1 ...
 $ choice : Factor w/ 3 levels "puppy","flower",..: 2 3 3 3 3 2 3 3 1 2 ...

In [13]:
head(chapek9)

  species choice
1 robot   flower
2 human   data
3 human   data
4 human   data
5 robot   data
6 human   flower

In [16]:
summary(chapek9)

  species      choice
 robot:87   puppy : 28
 human:93   flower: 43
            data  :109

In [17]:
chapekFrequencies <- xtabs( ~ choice + species, data = chapek9)
chapekFrequencies

        species
choice   robot human
  puppy     13    15
  flower    30    13
  data      44    65

In [18]:
xtabs( ~  species + choice, data = chapek9)

       choice
species puppy flower data
  robot    13     30   44
  human    15     13   65

In [19]:
chisq.test( chapekFrequencies )

	Pearson's Chi-squared test

data:  chapekFrequencies
X-squared = 10.722, df = 2, p-value = 0.004697

In [5]:
load( "./data/randomness.Rdata" )
str(cards)

'data.frame':	200 obs. of  3 variables:
 $ id      : Factor w/ 200 levels "subj1","subj10",..: 1 112 124 135 146 157 168 179 190 2 ...
 $ choice_1: Factor w/ 4 levels "clubs","diamonds",..: 4 2 3 4 3 1 3 2 4 2 ...
 $ choice_2: Factor w/ 4 levels "clubs","diamonds",..: 1 1 1 1 4 3 2 1 1 4 ...

In [7]:
observed <- table( cards$choice_1 )
observed

   clubs diamonds   hearts   spades
      35       51       64       50

In [10]:
chisq.test( x = observed )

	Chi-squared test for given probabilities

data:  observed
X-squared = 8.44, df = 3, p-value = 0.03774

In [ ]:
chisq.test( x = observed, p = c(.2, .3, .3, .2) )