## Problem 3

In [591]:
props=c(.53, .35, .12)
counts=c(140, 100, 10)

### Chi-square Test

In [592]:
chisq<-chisq.test(counts, p=props, correct=FALSE)
chisq

cat('\n*** Expected:\n')
t(round(chisq$expected,2))

	Chi-squared test for given probabilities

data:  counts
X-squared = 15.544, df = 2, p-value = 0.0004215

*** Expected:

     [,1]  [,2] [,3]
[1,] 132.5 87.5 30

## Problem 4

In [593]:
drg_a = c(80, 15, 5)
drg_b = c(60, 30, 10)
dtm = matrix(c(drg_a, drg_b), nrow=2, byrow=T)
colnames(dtm)<-c('none', 'nausea', 'nausea and vomiting')
rownames(dtm)<-c('A', 'B')
dtt = as.table(dtm)
dtt

cat('*** Margins 1:\n')
margin.table(dtt, 1)
cat('*** Margins 2:\n')
margin.table(dtt, 2)

  none nausea nausea and vomiting
A   80     15                   5
B   60     30                  10

*** Margins 1:

  A   B
100 100

*** Margins 2:

               none              nausea nausea and vomiting
                140                  45                  15

## Chi-square Test

In [594]:
chisq<-chisq.test(dtm, correct=FALSE)
chisq

cat('\n*** Expected:\n')
t(round(chisq$expected,2))

cat('*** Expected Margins 1:\n')
t(margin.table(chisq$expected, 1))

cat('*** Expected Margins 2:\n')
t(margin.table(chisq$expected, 2))

	Pearson's Chi-squared test

data:  dtm
X-squared = 9.5238, df = 2, p-value = 0.008549

*** Expected:

                    A    B
none                70.0 70.0
nausea              22.5 22.5
nausea and vomiting  7.5  7.5

*** Expected Margins 1:

     A   B
[1,] 100 100

*** Expected Margins 2:

     none nausea nausea and vomiting
[1,] 140  45     15

## Problem 5

In [595]:
props=c(.301, .176, .125, .097, .079, .067, .058, .051, .046)
# props=round(log10((1:9) + 1) - log10(1:9), 3)
counts=c(275, 183, 133, 111, 76, 66, 66, 44, 56)

### Chi-square Test

In [596]:
chisq<-chisq.test(counts, p=p, correct=FALSE)
chisq

cat('\n*** Expected:\n')
t(round(chisq$expected,2))

cat('*** Expected Margins 1:\n')
t(margin.table(chisq$expected, 1))

cat('*** Expected Margins 2:\n')
t(margin.table(chisq$expected, 2))

	Chi-squared test for given probabilities

data:  counts
X-squared = 9.4361, df = 8, p-value = 0.3069

*** Expected:

     [,1]   [,2]   [,3]   [,4]  [,5]  [,6]  [,7]  [,8]  [,9]
[1,] 304.04 177.85 126.19 97.88 79.97 67.62 58.57 51.66 46.22

*** Expected Margins 1:

ERROR: Error in margin.table(chisq$expected, 1): 'x' is not an array

## Problem 6

In [ ]:
dtf = matrix(c(65, 35, 70, 30, 15, 85), ncol=2, byrow=T)
colnames(dtf) <- c('high', 'low')
rownames(dtf) <- c('Exec', 'Prof', 'Lion Tamer')

dtf = as.table(dtf)
dtf

margin.table(dtf, 1)
margin.table(dtf, 2)

### Chi-square Test

In [ ]:
chisq<-chisq.test(dtf, correct=FALSE)

cat('\n*** Expected:\n')
t(round(chisq$expected,2))

cat('*** Expected Margins 1:\n')
t(margin.table(chisq$expected, 1))

cat('*** Expected Margins 2:\n')
t(margin.table(chisq$expected, 2))