## Loading the Data

In [31]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [68]:
y = mtcars$mpg
x = cbind(1, mtcars$hp, mtcars$wt)
n = nrow(x)
p = ncol(x)
cat('n:', n)
cat('\np:', p)

n: 32
p: 3

## Mean Centering Matrix along Columns
\begin{align}
X - \bar{X} = (I - H)X,
\end{align}

where $I$ is an identity matrix (with 1s on the diagonal and zeros elsewhere) and $H$ is an all-ones square matrix devided by n.

In [144]:
I = diag(rep(1, n))
H = matrix(1, n, n)/n

In [145]:
cat('dim(x):', dim(x))
cat('\ndim(I-H):', dim(I-H))

dim(x): 32 3
dim(I-H): 32 32

In [146]:
xc = (I - H) %*% x
cat('dim(xc):', dim(xc))
round(apply(xc, 1, mean), 10)
round(apply(xc, 2, mean), 10)

dim(xc): 32 3

 [1] -12.428250 -12.343250 -18.194917 -12.229917   9.511750 -13.814917
 [7]  32.888417 -28.238250 -17.251583  -7.821583  -7.821583  11.388417
[13]  11.275083  11.291750  20.115083  23.506417  28.480083 -27.234917
[19] -32.096583 -27.689917 -16.813250   1.205083   1.176750  32.978417
[25]   9.646750 -27.323250 -18.921583 -11.797250  39.088417   9.288417
[31]  62.888417 -12.708250

[1] 0 0 0

## Row Mean Centering

In [119]:
Ir = diag(rep(1, p))
Hr = matrix(1, p, p)/p
xr = x %*% (Ir - Hr)
cat('dim(xr):', dim(xr))
round(apply(xr, 1, mean), 10)
round(apply(xr, 2, mean), 10)

dim(xr): 32 3

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[1] -49.30158  96.38592 -47.08433

## Column and Row Mean Centering

In [117]:
xcr = (I - H) %*% x %*% (Ir - Hr)

cat('dim(xcr):', dim(xcr))
round(apply(xcr, 1, mean), 10)
round(apply(xcr, 2, mean), 10)

dim(xcr): 32 3

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[1] 0 0 0

## Variance-Covariance Matrix

In [104]:
head(x)

     [,1] [,2] [,3]
[1,] 1    110  2.620
[2,] 1    110  2.875
[3,] 1     93  2.320
[4,] 1    110  3.215
[5,] 1    175  3.440
[6,] 1    105  3.460

In [106]:
var(x)

     [,1] [,2]       [,3]
[1,] 0       0.00000  0.000000
[2,] 0    4700.86694 44.192661
[3,] 0      44.19266  0.957379

In [107]:
round( (t(x) %*% (I - H) %*% x) / (n - 1), 6)

     [,1] [,2]       [,3]
[1,] 0       0.00000  0.000000
[2,] 0    4700.86694 44.192661
[3,] 0      44.19266  0.957379

In [108]:
x1 = cbind(mtcars$hp, mtcars$wt, mtcars$disp)
head(x1)

     [,1] [,2]  [,3]
[1,] 110  2.620 160
[2,] 110  2.875 160
[3,]  93  2.320 108
[4,] 110  3.215 258
[5,] 175  3.440 360
[6,] 105  3.460 225

In [109]:
var(x1)

     [,1]       [,2]       [,3]
[1,] 4700.86694  44.192661  6721.1587
[2,]   44.19266   0.957379   107.6842
[3,] 6721.15867 107.684204 15360.7998

In [110]:
round( (t(x1) %*% (I - H) %*% x1) / (n - 1), 6)

     [,1]       [,2]       [,3]
[1,] 4700.86694  44.192661  6721.1587
[2,]   44.19266   0.957379   107.6842
[3,] 6721.15867 107.684204 15360.7998

In [113]:
cov(mtcars$hp, mtcars$wt)
cov(x1[, 1], x1[, 2])

[1] 44.19266

[1] 44.19266

In [162]:
n = dim(x1)[1]
cat('n:', n)
I = diag(rep(1, n))
Jnn = matrix(1, n, n)

x1_tilde = (I - Jnn/n) %*% x1
round(apply(x1_tilde, 2, mean), 10)

s = var(x1)
cat('\ns:')
s

n: 32

[1] 0 0 0

s:

     [,1]       [,2]       [,3]
[1,] 4700.86694  44.192661  6721.1587
[2,]   44.19266   0.957379   107.6842
[3,] 6721.15867 107.684204 15360.7998

In [166]:
d = diag(sqrt(diag(s)))
d

     [,1]     [,2]      [,3]
[1,] 68.56287 0.0000000   0.0000
[2,]  0.00000 0.9784574   0.0000
[3,]  0.00000 0.0000000 123.9387

In [169]:
d_inv = solve(d)

In [170]:
d_inv %*% t(x1_tilde) %*% x1_tilde %*% d_inv / (n-1)

     [,1]      [,2]      [,3]
[1,] 1.0000000 0.6587479 0.7909486
[2,] 0.6587479 1.0000000 0.8879799
[3,] 0.7909486 0.8879799 1.0000000