## Before Centering

In [101]:
y = mtcars$mpg
x = mtcars$wt

In [108]:
lm(y ~ c(x,x ))

ERROR: Error in model.frame.default(formula = y ~ c(x, x), drop.unused.levels = TRUE): variable lengths differ (found for 'c(x, x)')

## Regression Through the Origin on Centering Data

In [103]:
yc = y - mean(y)
xc = x - mean(x)
lm(yc ~ xc - 1)

Call:
lm(formula = yc ~ xc - 1)

Coefficients:
    xc
-5.344

## Some Useful Equalities
Let $\mathbf{1}_{n}$ be all-ones *nx1* vector $\begin{pmatrix}
  1 \\
  \vdots \\
  1
\end{pmatrix}$ and $\mathbf H$ be 1 $n_{th}$ of all-ones *nxn* matrix $\begin{pmatrix}
  1/n & 1/n & \dots & 1/n \\
  \vdots & \vdots & \ddots & \vdots \\
  1/n & 1/n & \dots & 1/n 
\end{pmatrix}$ then:

\begin{align}
\mathbf H = \mathbf{1}_{n} (\mathbf{1}_{n}^{\mathit t} \mathbf{1}_{n})^{-1} \mathbf{1}_{n}^{\mathit t}
\end{align}

Also the mean centering matrix $\mathbf{yc} = \mathbf y - \mathbf{\bar{y}}$ can be calculated as:

\begin{align}
\mathbf{yc} = (\mathbf I - \mathbf H) \mathbf y
\end{align}

### Examples

In [77]:
n = 5
y = matrix(round(runif(n, 1, 100)), ncol=1)
t(y)

     [,1] [,2] [,3] [,4] [,5]
[1,] 27   82   77   37   4

In [78]:
# The identity matrix
I = diag(rep(1, n))

In [79]:
H = matrix(1, n, n)/n
H

     [,1] [,2] [,3] [,4] [,5]
[1,] 0.2  0.2  0.2  0.2  0.2
[2,] 0.2  0.2  0.2  0.2  0.2
[3,] 0.2  0.2  0.2  0.2  0.2
[4,] 0.2  0.2  0.2  0.2  0.2
[5,] 0.2  0.2  0.2  0.2  0.2

In [80]:
Jn = matrix(1, n, 1)
t(Jn)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    1    1    1    1

In [81]:
Jn %*% solve(t(Jn) %*% Jn)  %*% t(Jn)

     [,1] [,2] [,3] [,4] [,5]
[1,] 0.2  0.2  0.2  0.2  0.2
[2,] 0.2  0.2  0.2  0.2  0.2
[3,] 0.2  0.2  0.2  0.2  0.2
[4,] 0.2  0.2  0.2  0.2  0.2
[5,] 0.2  0.2  0.2  0.2  0.2

In [82]:
H == Jn %*% solve(t(Jn) %*% Jn)  %*% t(Jn)

     [,1] [,2] [,3] [,4] [,5]
[1,] TRUE TRUE TRUE TRUE TRUE
[2,] TRUE TRUE TRUE TRUE TRUE
[3,] TRUE TRUE TRUE TRUE TRUE
[4,] TRUE TRUE TRUE TRUE TRUE
[5,] TRUE TRUE TRUE TRUE TRUE

In [84]:
yc = (I - H) %*% y
t(yc)

     [,1]  [,2] [,3] [,4] [,5]
[1,] -18.4 36.6 31.6 -8.4 -41.4

In [86]:
yc1 = y - mean(y)
t(yc1)

     [,1]  [,2] [,3] [,4] [,5]
[1,] -18.4 36.6 31.6 -8.4 -41.4

In [99]:
t(round(yc-yc1, 10))

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    0    0    0    0